// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.red {
    color: blue;
    font-size: 45px;
  }

#claim {
    font-weight: bold;
}